@import 'tailwindcss';
@plugin '@tailwindcss/forms';


@keyframes cursor-blink {

	from,
	to {
		background-color: transparent;
	}

	50% {
		background-color: green;
	}
}

.cursor-blink::after {
	content: '';
	width: 2px;
	height: 12px;
	background: green;
	margin: 0 0.125rem;
	display: inline-block;
	animation: cursor-blink 1s step-end infinite;
}

@keyframes spin-slow {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes avatar-glow {

	0%,
	100% {
		opacity: 0.4;
		transform: scale(1);
	}

	50% {
		opacity: 0.8;
		transform: scale(1.2);
	}
}

.animate-spin-slow {
	animation: spin-slow 2s linear infinite;
}

.animate-avatar-glow {
	animation: avatar-glow 2s ease-in-out infinite;
}
